@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

/* Carousel base class */
/* Declare heights because of positioning of img element */
.carousel {
  height: 0;
  .item {
    height: 0;
    background-color: #8D02B3;
    img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 0;
      height: 0;
    }
    .carousel-caption {
      z-index: 0;
      /* Bump up size of carousel content */
      p {
        margin-bottom: 0;
        font-size: 0;
        line-height: 0;
      }
    }
  }
}

.home-buttons {
  margin-bottom: 20px;
  .home-browse-button {
    width: 100%;
    font-size: 18px !important;
  }
}

.menu-items {
  .recipe-card-news-footer {
    width: 100%;
  }
}

.right.carousel-control, .left.carousel-control {
  display: none;
}

@media (max-width: $screen-xs-max) {
  .carousel {
    height: 0;
    .item {
      height: 0;
      .carousel-caption {
        padding-bottom: 0 !important;
        p {
          font-size: 0;
        }
      }
      img {
        height: 0;
      }
    }
  }
}
